<div class="threads latest">
    {% for thread in threads %}
        <div class="row thread">
            <div class="small-6 columns">
                <h4>{{ thread.title }}</h4>
            </div>
            <div class="small-2 columns">
                <p class="posts">Posts: {{ thread.posts|length }}</p>
            </div>
            <div class="small-2 columns">
                <p class="views">0 {{ 'thread.views'|trans }}</p>
            </div>
        </div>
    {% endfor %}
</div>